@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Roboto:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --clr1:#f95b11;
    --clr2:#fff;
    --clr3:#080808;
    --clr4:#f4241d;
    --clr5:limegreen;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

html{
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-thumb{
    background: var(--clr1);
}

section{
    padding: 4rem 9%;
    margin-top: 8rem;
}

/*section h4{
    width: 50%;
    font-size: 3rem;
    color: var(--clr5);
    text-transform: none;
    text-align: center;
    align-items: center;
    letter-spacing: .1rem;
    background: var(--clr3);
}*/

section h3{
    font-size: 3rem;
    color: var(--clr2);
    text-transform: none;
    text-align: center;
    letter-spacing: 2rem;
}

section p{
    color: var(--clr2);
    font-size: 1.5rem;
    text-transform: capitalize;
    line-height: 2.5rem;
    word-wrap: normal;
}

section h4{
    margin: 0 0 1rem 25rem;
    padding: 2rem;
    width: 50%;
    font-size: 3rem;
    color: var(--clr2);
    text-transform: none;
    text-align: center;
    align-items: center;
    letter-spacing: 2rem;
    background: var(--clr4);
}

.btn{
    margin-top: 2rem;
    padding: 1.3rem 4rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 500;
    color: var(--clr3);
    background: var(--clr2);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
    transition: all .3s ease;
    cursor: pointer;
    outline: none;
}

.btn:hover{
    background-color: var(--clr3);
    box-shadow: 0 2rem 2rem rgba(255, 85, 94, 0.4);
    color: var(--clr2);
    transform: translateY(-1);
}

.head{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    background: var(--clr5);
    color: var(--clr2);
    padding: 3rem 9%;
    align-items: center;
    justify-content: space-between;
}

.head h1{
    font-size: 2.5rem;
}

.head .navbar a{
    color: var(--clr2);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0 2rem;
}

.head .navbar a:hover{
    color: var(--clr3);
    transition: .4s ease;
}

.head .side-bar i{
    padding: 1.5rem;
    font-size: 2.1rem;
    border: none;
    background: var(--clr2);
    color: var(--clr4);
}

.head .side-bar i:hover{
    background: var(--clr3);
    color: var(--clr4);
}
#bars{
    display: none;
}

.search-bar input{
    width: 100%;
    background: none;
    border: hidden;
    text-transform: none;
    font-size: 1.5rem;
    color: #fff;
}
/*home section*/
.home{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/pizza.webp);
    background-size: cover;
    background-position: center;
}

.home-content{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr;
}

.inner-content{
    max-width: 90rem;
    margin-top: 20rem;
    text-align: center;
}
.inner-content-img{
    margin-top: 2rem;
}

.inner-content i{
    color:var(--clr4);
} 

.inner-content-img img{
    width: 45rem;
    height: auto;
    animation: icon 5s ease infinite;
}

.service-content{
    padding: 1rem o;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-gap: 1rem;
}

.inner-cont{
    padding: 3rem 2rem;
    text-align: center;
    border: 1px solid var(--clr3);
    background: #eee;
}

.inner-cont:hover{
    background: var(--clr1);
    transition: .5s ease all;
}

.inner-cont img{
    width: 15rem;
    height: 15rem;
}

.inner-cont p{
    font-size: 1.4rem;
    color: var(--clr3);
}
/*menu section */
.menu-content{
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 1.2fr;
    grid-gap: 1rem;
    flex-wrap: wrap;
}
.in-conte{
    padding: 3rem 4rem;
    text-align: center;
    border: 2px solid var(--clr3);
    border-radius: 8%;
    background: #eee;
}
.in-conte:hover{
    background: var(--clr4);
    transition: 2s ease all;
}
.in-conte img{
    width: 20rem;
    height: auto;
    border-radius: 9%;
}
.in-conte p{
    color: var(--clr3);
}
/*- @media query ---*/
@media(max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    section h4{
        text-align: center;
    }
}
@Media(max-width:768px){
    #bars
    {
        display: inline-block;
    }
    .search-bar input{
        width: 100%;
    }
    .head .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        background: var(--clr3);
        font-size: 2rem;
    }
    section h4{
        text-align: center;
    }
    .head .navbar a{
        margin: 2rem 2.5rem;
        display: block;
        border-right: .1rem solid var(--clr4);
    }
    .head .navbar a:hover{
        transform: translateX(2rem);
    }
    .head .navbar.active{
        right: 5rem;
        transition: .4s ease-in;
    }
    .home-content,.service-content,.inner-blog,.menu-content{
        display: inline-block;
    }
    .about-section{
        display: inline-block;
    }
    .home.home-content{
        text-align: center;
    }
    .home .inner-content-img img{
        width: 35rem;
    }
}